.container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.col-left {
  display: flex;
  flex-direction: column;
  width: 43.5%;
  height: 100%;
}

.col-right {
  width: 56.5%;
}

.flex-column {
  flex-direction: column;
}

.padding-40 {
  padding: 40px;
}

.bg-blue {
  background-color: #548fed;
}

.bg-purple-gradient {
  background: linear-gradient(180deg, #dc66eb 0%, #9267ff 26%, #595bff 55%, #7e90ff 100%);
}

.bg-marina {
  background-color: #66b3fc;
}

.header {
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  height: 720px;
  overflow: hidden;
}
.header * {
  color: #ffffff;
}

.main {
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  height: 125px;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  position: absolute;
  left: 40px;
}
.navbar__menu {
  display: flex;
}
.navbar__link {
  padding: 0 25px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}
.navbar__link:first-child {
  padding-left: 0;
}
.navbar__link:hover {
  color: #ff1d43;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.navbar__right-menu {
  position: absolute;
  right: 40px;
}
.navbar__right-menu .navbar__link {
  font-weight: 600;
}

.hero {
  display: flex;
  width: 100%;
  padding-top: 35px !important;
}
.hero__img {
  width: 385px;
}
.hero__title {
  font-size: 64px;
  font-weight: 600;
  margin-top: 20px;
  width: 455px;
}
.hero__btn {
  margin-top: 90px;
}

.block {
  padding-top: 100px;
}
.block:last-child {
  padding-bottom: 50px;
}
.block__title {
  width: 80%;
  color: #262621;
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 40px;
}
.block__description {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 30px;
}
.block__stats {
  display: flex;
}
.block__stats .stats {
  width: 50%;
}
.block__stats .stats__percent {
  color: #2356ff;
  font-size: 120px;
}
.block__stats .stats__text {
  font-size: 16px;
}
.block__content {
  display: flex;
  height: 450px;
  color: #f7f7f7;
  margin: 20px 0;
  overflow: hidden;
}
.block__content:last-child {
  margin-bottom: 0;
}
.block__content * {
  font-size: 18px;
  font-weight: 500;
}
.block__content-title {
  font-size: 20px;
  font-weight: 700;
  padding-inline-end: 10%;
  padding-bottom: 20px;
}
.block__content-text {
  margin-top: 10px;
  line-height: 1.55;
  padding-inline-end: 10%;
}
.block__content-tags {
  margin-top: auto;
  opacity: 0.7;
}
.block__content-img {
  width: 90%;
}
.block__hr {
  width: 100%;
  margin-top: 100px;
  border-bottom: 1px solid #e4e4e4;
}

.benefits {
  display: flex;
  flex-direction: column;
}
.benefits__item {
  margin-bottom: 50px;
}
.benefits__img {
  max-height: 92px;
  max-width: 80px;
}
.benefits__text {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  background-color: #ff1d43;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: #2356ff;
}
