{% load static %}

<section class="block">
    <div class="container">
        <div class="col-left">
            <p class="block__title">
                Зачем медицинской компании приложение?
            </p>
        </div>
        <div class="col-right">
            <ul class="benefits">
                <li class="benefits__item">
                    <img src="{% static 'img/flash.png' %}" alt="flash" class="benefits__img">
                    <p class="benefits__text">
                        Удобный канал коммуникации для пациентов и клиентов. Практичнее и быстрее, чем сайт.
                    </p>
                </li>
                <li class="benefits__item">
                    <img src="{% static 'img/heart.png' %}" alt="heart" class="benefits__img">
                    <p class="benefits__text">
                        Инструмент продаж. Мотивируйте аудиторию при помощи push-уведомлений, персональных
                        предложений и программ лояльности.
                    </p>
                </li>
                <li class="benefits__item">
                    <img src="{% static 'img/chart.png' %}" alt="chart" class="benefits__img">
                    <p class="benefits__text">
                        Доступ к новой аудитории. Молодые люди используют телефоны для всего: покупок, общения,
                        чтения информации. Станьте ближе к ним.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>