<section class="block">
    <div class="container">
        <div class="col-left">
            <p class="block__title">
                Приложения для медицинской отрасли - это зарождающаяся тенденция
            </p>
        </div>
        <div class="col-right">
            <p class="block__description">
                Уже принят закон о онлайн-продаже лекарств, появляется все больше сервисов для занятий спортом
                онлайн и для контроля ментального здоровья.
            </p>
            <p class="block__description">
                Мобильное приложение нужно не только для того, чтобы не отстать от конкурентов, но и для того, чтобы
                быть ближе к клиентам. Предлагаем вам вместе с нами создать продукт — на основе ваших идей и нашей
                экспертизы.
            </p>
            <div class="block__stats">
                <div class="stats">
                        <span class="stats__percent">
                        20%
                    </span>
                    <p class="stats__text">
                        ежегодный рост медтех-сегмента
                    </p>
                </div>
                <div class="stats">
                        <span class="stats__percent">
                        90%
                    </span>
                    <p class="stats__text">
                        запросов с мобильных устройств
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>