{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>RS — мобильные приложения для клиник, аптек и медицинских компаний</title>
</head>
<body>
<header>
    <section class="header">
        {% include 'landing/navbar.html' %}

        {% include 'landing/hero.html' %}
    </section>
</header>

<main class="main">
    {% include 'landing/descriptions.html' %}

    {% include 'landing/divider.html' %}

    {% include 'landing/works.html' %}

    {% include 'landing/benefits.html' %}
</main>
</body>
</html>