<section class="block">
    <div class="container">
        <div class="col-left">
            <p class="block__title">
                {{ title }}
            </p>
        </div>
        <div class="col-right">
            {% for paragraph in paragraphs %}
                {{ paragraph.template }}
            {% endfor %}

            <div class="block__stats">
                {% for percent in percents %}
                    {{ percent.template }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>