<section class="block">
    <div class="container">
        <div class="col-left">
            <p class="block__title">
                {{ title }}
            </p>
        </div>
        <div class="col-right">
            <p class="block__description">
                {{ text_1 }}
            </p>
            <p class="block__description">
                {{ text_2 }}
            </p>
            <div class="block__stats">
                <div class="stats">
                        <span class="stats__percent">
                        {{ percent_1 }}%
                    </span>
                    <p class="stats__text">
                        {{ percent_1_text }}
                    </p>
                </div>
                <div class="stats">
                        <span class="stats__percent">
                        {{ percent_2 }}%
                    </span>
                    <p class="stats__text">
                        {{ percent_2_text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>