{% load static %}

<div class="block__content bg-blue">
    <div class="col-left padding-40">
        <span class="block__content-title">Kelinda</span>
        <p class="block__content-text">
            Приложение для хранения результатов медицинских анализов, общения с врачом и планирования приема
            препаратов.
        </p>
        <span class="block__content-tags">Дизайн • Аналитика • Разработка</span>
    </div>
    <div class="col-right">
        <img src="{% static 'img/cabinet.png' %}" alt="cabinet" class="block__content-img">
    </div>
</div>