{% load static %}

<section class="block">
    <div class="container flex-column">
        <span class="block__title">Наши работы</span>

        {% include 'landing/works_card.html' %}

        <div class="block__content bg-purple-gradient">
            <div class="col-left padding-40">
                <span class="block__content-title">Viafit</span>
                <p class="block__content-text">
                    Сервис для удаленных занятий фитнесом с тренером и контроля результатов.
                </p>
                <span class="block__content-tags">Дизайн • Аналитика • Разработка</span>
            </div>
            <div class="col-right">
                <img src="{% static 'img/reports.png' %}" alt="reports" class="block__content-img">
            </div>
        </div>

        <div class="block__content bg-marina">
            <div class="col-left padding-40">
                <span class="block__content-title">YourD</span>
                <p class="block__content-text">
                    Сервис для дистанционной записи к врачам и хранения медицинских карт.
                </p>
                <span class="block__content-tags">Дизайн • Аналитика • Разработка</span>
            </div>
            <div class="col-right">
                <img src="{% static 'img/doctor.png' %}" alt="doctor" class="block__content-img">
            </div>
        </div>
    </div>
</section>