.bg-blue {
  background-color: #548fed;
}

.bg-purple-gradient {
  background: linear-gradient(180deg, rgba(220, 102, 235, 1) 0%, rgba(146, 103, 255, 1) 26%, rgba(89, 91, 255, 1) 55%, rgba(126, 144, 255, 1) 100%);
}

.bg-marina {
  background-color: #66b3fc;
}