.hero {
  display: flex;
  width: 100%;
  padding-top: 35px !important;

  &__img {
    width: 385px;
  }

  &__title {
    font-size: 64px;
    font-weight: 600;
    margin-top: 20px;
    width: 455px;
    overflow-wrap: break-word;
  }

  &__btn {
    margin-top: 90px;
  }
}
